{% extends 'base.html' %}

{% block head%}
<title>Expense Tracker</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <h1>Expense Tracking App</h1>
        {% if expenses|length < 1 %}
            <h4 style="text-align: center;">The databese is empty. Track expenses below!</h4>
        {% else %}

        <div class="form">
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" id="item" name="item" placeholder="Item">

                    <select name="category" id="category">
                        <option value="Food" id="food">Food</option>
                        <option value="Transport" id="transport">Transport</option>
                        <option value="Misc" id="misc">Misc</option>
                        <option value="Clothing" id="clothing">Clothing</option>
                    </select>

                    <input type="text" id="amount" name="amount" placeholder="Amount">

                    <button class="submit" value="Add Task">Add</button>
                </div>
            </form>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.item}}</td>
                        <td>{{ expense.category }}</td>
                        <td>GH₵ {{ "%.2f" | format(expense.amount) }}</td>
                        <td>{{ expense.date_added.strftime('%d-%m-%Y | %H:%M') }}</td>
                        <td>
                            <a class="delete-btn" href="/delete/{{ expense.id }}">Delete</a>
                            <a class="update-btn" href="/update/{{ expense.id }}">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="footer">
    <footer class="kay">
        <p>MADE WITH ❤️ | Kay</p>
    </footer>
</div>
{% endblock %}
