{% extends 'base.html' %}

{% block head%} 
<title>Expense Tracker</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center;">Update</h1>

    <form action="/update/{{expense.id}}" method="POST">
        <label for="item">Item: </label>
                <input type="text" name="item" id="item" value="{{ expense.item }}">
                <br>

                <label for="category">Category: </label>
                <select name="category" id="category" value="{{ expense.category }}">
                    <option value="Food" id="food">Food</option>
                    <option value="Transport" id="transport">Transport</option>
                    <option value="Misc" id="misc">Misc</option>
                    <option value="Clothing" id="clothing">Clothing</option>
                </select>
                <br>

                <label for="amount">Amount: </label>
                <input type="number" name="amount" id="amount" value="{{ expense.amount }}">
                <br>

                <input type="submit" value="Update">
    </form>
</div>
{% endblock %}