{% extends 'base.html' %}

{% block head %}
<title>Expense Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/update-style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <h1>Update {{ expense.item }}</h1>
        <form action="/update/{{expense.id}}" method="POST" class="form">
            <div class="form-group">
                <label for="item">Item: </label>
                <input type="text" name="item" id="item" value="{{ expense.item }}" placeholder="Item">
            </div>

            <div class="form-group">
                <label for="category">Category: </label>
                <select name="category" id="category">
                    <option value="Food" {% if expense.category == 'Food' %} selected {% endif %}>Food</option>
                    <option value="Transport" {% if expense.category == 'Transport' %} selected {% endif %}>Transport</option>
                    <option value="Misc" {% if expense.category == 'Misc' %} selected {% endif %}>Misc</option>
                    <option value="Clothing" {% if expense.category == 'Clothing' %} selected {% endif %}>Clothing</option>
                </select>
            </div>

            <div class="form-group">
                <label for="amount">Amount: </label>
                <input type="number" name="amount" id="amount" value="{{ expense.amount }}" placeholder="Amount">
            </div>

            <button class="submit" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}
